# ide
/.idea/
/.svn/
# composer
/vendor/
composer.lock

# easySwoole
/Log/
/Temp/
easyswoole
easyswoole.install
src/swoole_log.txt

#fashop
/Runtime/Cache/*
/Runtime/Log/*
/Runtime/Temp/*
/Upload/*
/Conf/config/database.php